html, body {
    padding: 8px;
 }

 body {
     display: grid;
     grid-template-rows: .1fr .30fr .60fr .05fr;
     grid-template-columns: 1fr;
     grid-template-areas: "header" "main1" "main2" "map"  "footer";
     justify-content: center;
     background-color:lemonchiffon;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

 }

 header {
    grid-area: header;
    display: grid;
    grid-template-columns: .2fr .6fr .2fr;
    justify-content: center;
    color: rgb(29, 95, 58); }
    
.main1 {
    display: grid;
    grid-area: main;

}

.main2 {
    display: grid;
    grid-area: main;


}

#map {
    grid-area: map;
    height: 40vh;
}

#footer {
    grid-area: footer;
}